In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import data from the csv
file_path = "charity_data.csv"
application_df = pd.read_csv(file_path)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME", "CLASSIFICATION", "APPLICATION_TYPE"])
#  YOUR CODE GOES HERE

In [4]:
application_df.head()

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,ProductDev,Association,1,0,N,5000,1
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values
#  YOUR CODE GOES HERE

AFFILIATION                  6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
unique_values = unique_values.loc[unique_values > 10]
unique_values

ASK_AMT    8747
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
Application_type_df = application_df.APPLICATION_TYPE.value_counts()
Application_type_df
#  YOUR CODE GOES HERE

AttributeError: 'DataFrame' object has no attribute 'APPLICATION_TYPE'

In [ ]:
# Determine which values to replace if counts are less than ...?
replace_values = list(Application_type_df[Application_type_df < 150].index)
# REplace the DataFrame
for values in replace_values:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(values, "Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

In [ ]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_type_df = application_df.CLASSIFICATION.value_counts()
CLASSIFICATION_type_df
#  YOUR CODE GOES HERE

In [ ]:
# Determine which values to replace if counts are less than ..?
replace_values2 = list(CLASSIFICATION_type_df[CLASSIFICATION_type_df < 1880].index)
# REplace the DataFrame
for values in replace_values2:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(values, "Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

In [8]:
# Generate our categorical variable lists
application = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application
#  YOUR CODE GOES HERE

['AFFILIATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application]))
#  YOUR CODE GOES HERE

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application)
encode_df.head(10)

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application, 1)
application_df.head()
#  YOUR CODE GOES HERE

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

#  YOUR CODE GOES HERE

In [12]:
# preprocess the numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[1])
hidden_nodes_layer1 = 6
hidden_nodes_layer2 = 3

#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "relu")
)
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="linear"))

#  YOUR CODE GOES HERE

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))
#  YOUR CODE GOES HERE

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 6)                 174

 dense_16 (Dense)            (None, 3)                 21

 dense_17 (Dense)            (None, 1)                 4

=================================================================
Total params: 199
Trainable params: 199
Non-trainable params: 0
_________________________________________________________________

In [38]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [39]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq= "epoch")
#  YOUR CODE GOES HERE

In [40]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=10, callbacks=[cp_callback])
#  YOUR CODE GOES HERE

Epoch 1/10
800/804 [============================>.] - ETA: 0s - loss: 8.2373 - accuracy: 0.4660
Epoch 00001: saving model to checkpoints/weights.01.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 2/10
793/804 [============================>.] - ETA: 0s - loss: 8.2334 - accuracy: 0.4662
Epoch 00002: saving model to checkpoints/weights.02.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 3/10
802/804 [============================>.] - ETA: 0s - loss: 8.2390 - accuracy: 0.4659
Epoch 00003: saving model to checkpoints/weights.03.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 4/10
791/804 [============================>.] - ETA: 0s - loss: 8.2481 - accuracy: 0.4653
Epoch 00004: saving model to checkpoints/weights.04.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 5/10
787/804 [============================>.] - ETA: 0s - loss: 8.2527 - accuracy: 0.4650
Epoch 00005: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 6/10
781/804 [============================>.] - ETA: 0s - loss: 8.2427 - accuracy: 0.4656
Epoch 00006: saving model to checkpoints/weights.06.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 7/10
781/804 [============================>.] - ETA: 0s - loss: 8.2457 - accuracy: 0.4654
Epoch 00007: saving model to checkpoints/weights.07.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 8/10
804/804 [==============================] - ETA: 0s - loss: 8.2384 - accuracy: 0.4659
Epoch 00008: saving model to checkpoints/weights.08.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 9/10
776/804 [===========================>..] - ETA: 0s - loss: 8.2392 - accuracy: 0.4659
Epoch 00009: saving model to checkpoints/weights.09.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659
Epoch 10/10
782/804 [============================>.] - ETA: 0s - loss: 8.2259 - accuracy: 0.4667
Epoch 00010: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 8.2384 - accuracy: 0.4659

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")